<nav>
  <ul class='navbar'>
    {{#link-to 'notes.new'}}<li>{{fa-icon 'plus'}} New</li>{{/link-to}}
    <a href='#' {{action 'toggleEdit' notes}}><li>{{fa-icon 'pencil'}} Edit</li></a>
  </ul>
  {{input type='text' value=searchbar placeholder='Search'}}
</nav>
