{{input type="text" value=searchTerm placeholder="Search Notes…" class='searchbar'}}
<h5>Notes</h5>
<ul class="note-list">
  {{#each availableNotes as |note|}}
    {{note-list-item note=note}}
  {{/each}}
</ul>
