.ember-application {
  width: 100%;
  margin-top: 25px;
  background-color: rgba(220, 220, 220, 1);
}

.ember-view {
}

html {
  font-family: 'BlinkMacSystemFont';
  font-size: 14px;
  overflow: hidden;
}

body {
  margin: 0;
}

nav ul.navbar {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul.navbar li {
  list-style: none;
  display: inline-block;
}

nav ul.navbar a li {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: 7px 0px 7px 7px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

nav ul.navbar a li i {
  color: #666;
}

nav input {
  font-size: 12px;
  font-weight: 400;
  margin: 7px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  width: 25%;
}

.container {
  border-top: 1px solid #999;
}

.scrollable {
  overflow-y: scroll;
  height: 94vh;
}

.sidebar {
  width: 20%;
  min-height: 100vh;
  float: left;
  background-color: #eee;
  border-right: 1px solid #ccc;
}

.sidebar h5 {
  margin: 10px 0 3px 7px;
  padding: 0;
  color: #777;
}

.note-body {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 25px 35px;
  float: left;
}

.main {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}

.note-body h3 {
  margin: 0px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
}

.note-details {
  border-bottom: 1px solid #ccc;
  margin: 10px 50px 0px 10px;
}

#save {
  display: inline-block;
  float: right;
  font-size: 16px;
  border: 1px solid red;
  background-color: #fff;
  padding: 5px 20px;
}

.note-list-item {
  list-style-type: none;
  padding: 5px 5px 5px 15px;
  margin: 0 0;
  border-bottom: 1px solid #ddd;
}

a.active .note-list-item {
  background-color: #ccc;
}

.new-note {
  border-bottom: 1px solid #ccc;
  padding: 30px;
}

.new-note input {
  width: 100%;
  margin-bottom: 10px;
}

.new-note textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 300px;
}

.note-list {
  margin: 0;
  padding: 0;
}

.note-list-item, a {
  text-decoration: none;
  color: #333;
}

.delete-button {
  float: right;
  border: none;
  background-color: inherit;
  display: inline-block;
}


.rendered {
  box-sizing: border-box;
  padding-right: 50px;
  float: left;
}

.rendered img {
  max-width: 100%;
}

.stats {
  width: 100%;
  text-align: right;
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  color: #666;
}

.rendered .stats span {
  margin-left: 15px;
  font-weight: bold;
}

.half {
  width: 50%;
}

.spacer {
  height: 100px;
}

.index {
  padding: 25px;
}

.markdown {
  display: none;
  width: 50%;
  float: left;
}

.markdown textarea {
  background-color: rgb(40, 45, 50);
  outline: none;
  color: #fff;
  width: 95%;
  height: 100vh;
  padding: 20px;
  border: none;
}
