{{input type='text' value=username placeholder='Username'}}
{{input type='password' value=password placeholder='Password'}}
<button {{ action 'login' }} type="button" name="login-button">Login</button>
