<div class="scrollable">
  <div class="new-note">
    <h3>New Note</h3>
    {{input type='text' value=newNoteId placeholder='New Note File Name'}}
    {{textarea value=newNoteContents placeholder='New Note Contents'}}
    <button {{action 'createNewNote'}}>Create New Note</button>
  </div>
</div>
