<div class="sidebar">
  {{#each model as |note|}}
  {{#link-to 'notes.note' note }}
    <div class="note-list-item">
      <h3>{{note.id}}</h3>
      <p>{{note.content}}</p>
    </div>
  {{/link-to}}
  {{/each}}
</div>
<div class="note-body">
  {{outlet}}
</div>
